#mainNav{
    background-color: #494399;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.imglogo{
    
    margin-left: 60px;
}
.imgsocial{
    margin-right: 30px;
}